<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haibin.calendarviewproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".meizu.MeiZuActivity" />
        <activity android:name=".multi.MultiActivity" />
        <activity android:name=".index.IndexActivity" />
        <activity android:name=".simple.SimpleActivity" />
        <activity android:name=".range.RangeActivity" />
        <activity android:name=".colorful.ColorfulActivity" />
        <activity android:name=".solay.SolarActivity" />
        <activity android:name=".single.SingleActivity" />
        <activity android:name=".progress.ProgressActivity" />
        <activity android:name=".custom.CustomActivity" />
        <activity android:name=".pager.ViewPagerActivity" />
        <activity android:name=".full.FullActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".CalendarActivity" />
    </application>

</manifest>